$font-color = #282828
$font-color2 = #ff6d6d

*
    margin 0
    padding 0

html,body
    width 100%

.page
    width 100%
    .main
        width 100%
        height 1084px
        background url('./image/section1-bg.png')
        background-repeat no-repeat
        background-size cover
        overflow hidden
        .title
            width 944px
            height 184px
            font-size 80px
            line-height: 100px
            color: $font-color
            text-align: center
            font-weight 100
            margin 0 auto
            margin-top 300px
        .bo
            text-align: center
            img
                width 80px
                height 80px
                margin-top 57px
        .pn
            width 253px
            height 67px
            background-color $font-color2
            border-radius: 4px
            margin 0 auto
            margin-top 52px  
            color: #fff
            font-size 21px
            font-weight 400
            line-height 67px
            text-align: center
        .tip
            font-size: 19px
            font-weight 400
            color: $font-color
            opacity 0.6
            text-align center
            margin-top 25px
    .two
        width 100%
        height 965px
        display: flex
        .left
            padding-top 255px
            padding-right 203px
            padding-bottom 221px
            padding-left: 119px
            flex: 1
            text-align: left 
            .left-top
                line-height 67px
                font-size 21px
                font-weight 500
                color: $font-color2
            .left-mid
                width 709px
                font-size 53px
                font-weight 500
                line-height 67px
            span
                color: $font-color2
                font-size 53px
                font-weight 500
            .left-bottom
                width 761px
                margin-top 60px
                font-size 21px
                font-weight 500
                color: $font-color
                line-height 35px
                opacity 0.68
                .lbt
                    margin-bottom 40px
            
        .right
            width 757px
            overflow: hidden
            .san
                border-bottom: 965px solid $font-color2
                border-left: 1800px solid #ededed
    .three
        height 900px
        background url('./image/pen-holder.png')
        background-repeat no-repeat
        background-size: cover
        overflow: hidden
        img
            position absolute
            right 287px
            overflow: hidden
        .t-top
            text-align: center
            margin-top 172px
            .top
                font-size 21px
                font-weight 500
                color: $font-color2
                line-height 67px
            .bottom
                font-size 53px
                font-weight 500
                line-height 67px
                color: $font-color